
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Posts Crud</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.css') ) }}" />
    </head>
    <body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">All Posts- CRUD</a>
  <div class="collapse navbar-collapse" id="navbarColor01">

  </div>
</nav>
       <div class="container">
